body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

h3 {
  margin: 10px 0px 1px;
  font-family: Montserrat, sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 26px;
  font-family: 'Varela Round', sans-serif;
  color: #848999;
  font-size: 14px;
}

a {
  text-decoration: underline;
}

.button {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  padding: 14px 29px;
  border-radius: 24px;
  background-color: #6d7280;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: #6d7280;
}

.button.nav {
  margin-left: 18px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}

.button.nav:hover {
  background-color: #9299ad;
}

.button.big-green {
  margin-top: 191px;
  padding: 25px 22px;
  background-color: #32ac97;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 29px;
  text-transform: capitalize;
}

.button.big-green:hover {
  background-color: #258575;
}

.button.sign-up {
  border-radius: 24px;
  background-color: #007ee5;
}

.button.sign-up:hover {
  background-color: #007ee5;
}

.button.apple {
  background-color: #b7bac2;
}

.button.android {
  background-color: #a4c639;
}

.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section.header {
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #262933;
}

.section.hero {
  padding-top: 75px;
  padding-bottom: 0px;
  background-color: transparent;
  text-align: center;
}

.section.grey {
  background-color: #eff1f4;
  text-align: center;
}

.section.centered {
  padding-bottom: 20px;
  text-align: center;
}

.section.footer {
  background-color: #284b78;
  text-align: left;
}

.company {
  margin-top: 11px;
  float: left;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.nav-link {
  margin-right: 11px;
  margin-left: 11px;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
  font-family: Montserrat, sans-serif;
  color: hsla(0, 0%, 100%, .81);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fff;
}

.nav-link.sign-up {
  padding: 10px 20px;
  border-radius: 24px;
  background-color: #007ee5;
  cursor: pointer;
}

.nav-link.sign-up:hover {
  background-color: #007ee5;
}

.nav-column {
  padding-top: 10px;
  text-align: right;
}

.logo {
  margin-right: 11px;
  float: left;
}

.hero-heading {
  font-family: Montserrat, sans-serif;
  color: #284b78;
  font-size: 38px;
  font-weight: 400;
}

.hero-subhead {
  color: #6d7280;
  font-size: 14px;
}

.section-title {
  font-family: Montserrat, sans-serif;
  color: #284b78;
  font-size: 31px;
  font-weight: 400;
  text-align: center;
}

.section-subtitle {
  margin-bottom: 43px;
  color: #6d7280;
  text-align: center;
}

.responsive-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.grey-icon {
  margin-right: 9px;
}

.content-column {
  display: block;
  padding-top: 0px;
  text-align: left;
}

.circle {
  height: 303px;
  margin-bottom: 25px;
  padding-top: 21px;
  border-radius: 190px;
  background-color: #f7f8fa;
}

.number {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: auto;
  margin-bottom: 17px;
  margin-left: auto;
  padding-top: 10px;
  border-radius: 50px;
  background-color: #363b48;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 20px;
}

.icons {
  display: block;
  width: 50px;
  height: 50px;
  margin-top: 30px;
  padding-top: 12px;
  border-radius: 40px;
  background-color: #eff1f4;
}

.quote-box {
  padding: 34px 40px 34px 98px;
  border-radius: 8px;
  background-color: #fff;
  background-image: url('../images/12-quotes_112-quotes.png');
  background-position: 8% 22%;
  background-size: 50px;
  background-repeat: no-repeat;
  text-align: left;
}

.quote {
  color: #2d303b;
  font-size: 15px;
  line-height: 24px;
}

.quote-thingy {
  display: block;
  margin-top: -2px;
  margin-right: auto;
  margin-left: 45px;
}

.by-section {
  text-align: left;
}

.person-icon {
  margin-right: 15px;
  float: left;
}

.location {
  font-family: Varela, sans-serif;
  color: #848999;
  font-size: 15px;
}

.logo-bottom {
  margin-right: 14px;
  float: left;
}

.footer-text {
  display: inline-block;
  margin-top: 11px;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 15px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  margin-left: 7px;
  padding-top: 9px;
  border-radius: 40px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-align: center;
}

.social-icon:hover {
  background-color: #7f89a3;
}

.right-footer-col {
  text-align: right;
}

.nav-bar {
  padding-top: 21px;
  padding-bottom: 21px;
  background-color: #284b78;
}

.image-crop {
  overflow: hidden;
  height: 302px;
  box-shadow: inset 0 -11px 0 0 red;
  -webkit-transition: height 300ms ease;
  transition: height 300ms ease;
}

.image-crop:hover {
  height: 372px;
}

.button-group {
  margin-top: 25px;
  margin-bottom: 48px;
}

.center {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  text-align: center;
}

.bold-text {
  color: #fff;
}

.bold-text-2 {
  cursor: pointer;
}

.paragraph {
  text-align: left;
}

.paragraph-2 {
  text-align: left;
}

.paragraph-3 {
  text-align: left;
}

.paragraph-4 {
  text-align: left;
}

.paragraph-5 {
  text-align: left;
}

.paragraph-6 {
  text-align: left;
}

.heading {
  text-align: left;
}

.heading-2 {
  text-align: left;
}

.heading-3 {
  text-align: left;
}

.heading-4 {
  text-align: left;
}

.heading-5 {
  text-align: left;
}

.heading-6 {
  text-align: left;
}

.paragraph-7 {
  text-align: left;
}

.image {
  position: static;
  display: block;
  text-align: center;
}

.paragraph-8 {
  text-align: left;
}

.paragraph-9 {
  text-align: left;
}

.unordered-list {
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  text-align: left;
}

.column {
  color: #6d7280;
  font-size: 14px;
}

.list-item {
  list-style-type: decimal;
}

.list-item-2 {
  list-style-type: decimal;
}

.list-item-3 {
  list-style-type: decimal;
}

.list-item-4 {
  list-style-type: decimal;
}

.list-item-5 {
  list-style-type: decimal;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.rich-text-block {
  padding: 20px 60px;
  font-family: Montserrat, sans-serif;
  color: #284b78;
  font-size: 12px;
}

.rich-text-block-2 {
  padding: 20px 0px;
  font-family: Montserrat, sans-serif;
  color: #284b78;
  text-align: left;
}

.image-2 {
  display: block;
  text-align: center;
}

.heading-7 {
  color: #284b78;
}

.form {
  display: block;
  padding-right: 300px;
  padding-left: 300px;
  text-align: center;
}

@media (max-width: 991px) {
  .button.nav {
    margin-left: 11px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .button.big-green {
    margin-top: 148px;
  }
  .nav-link {
    margin-right: 7px;
    margin-left: 7px;
    font-size: 13px;
  }
  .grey-icon {
    margin-top: 19px;
  }
  .content-column {
    padding-top: 0px;
  }
  .circle {
    height: 226px;
  }
  .frames {
    width: 75%;
  }
  .number {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 4px;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .button {
    margin-bottom: 10px;
  }
  .button.nav {
    display: block;
    width: 60%;
    margin: 23px auto 17px;
  }
  .button.big-green {
    margin-top: 86px;
    margin-bottom: 62px;
  }
  .section {
    padding: 32px 15px;
  }
  .section.hero {
    padding-top: 42px;
  }
  .section.footer {
    text-align: center;
  }
  .company {
    display: inline-block;
    float: none;
  }
  .nav-column {
    padding-top: 19px;
    text-align: center;
  }
  .logo {
    margin-top: -14px;
    float: none;
  }
  .company-column {
    margin-top: 35px;
    margin-bottom: 23px;
    text-align: center;
  }
  .hero-heading {
    font-size: 28px;
    line-height: 34px;
  }
  .grey-icon {
    margin-top: 28px;
  }
  .content-column {
    padding-left: 0px;
  }
  .circle {
    display: inline-block;
    height: auto;
    border-radius: 10px;
  }
  .frames {
    width: 55%;
    margin-bottom: 19px;
  }
  .number {
    margin-bottom: 20px;
  }
  .quote-box {
    background-image: url('../images/12-quotes_112-quotes.png');
  }
  .by-section.first {
    margin-bottom: 35px;
  }
  .logo-bottom {
    margin-right: -1px;
    margin-bottom: 37px;
    float: none;
  }
  .footer-text {
    margin-bottom: 22px;
  }
  .social-icon.first {
    margin-left: 1px;
  }
  .right-footer-col {
    text-align: center;
  }
  .nav-bar {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .center {
    text-align: center;
  }
  .brand-column {
    text-align: center;
  }
  .image {
    margin-right: 0px;
    text-align: center;
  }
}

@media (max-width: 479px) {
  .button {
    display: block;
  }
  .button.nav {
    width: 80%;
  }
  .button.big-green {
    margin-top: 0px;
    margin-right: 16px;
    margin-left: 16px;
  }
  .section {
    padding-right: 11px;
  }
  .section.hero {
    padding-right: 15px;
    padding-left: 15px;
  }
  .nav-link {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .hero-subhead {
    margin-bottom: 34px;
  }
  .grey-icon {
    margin-top: 34px;
  }
  .content-column {
    position: static;
    text-align: center;
  }
  .frames {
    width: 75%;
  }
  .quote-box {
    padding-left: 75px;
    background-image: url('../images/12-quotes_112-quotes.png');
    background-position: 8% 17%;
  }
  .paragraph-7 {
    position: static;
  }
  .column-2 {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-style: none;
  }
}