::selection {
	background: #00C8E4; /* ======== THEME COLOR ========*/
	color: #fff;
	}
::-moz-selection {
	background: #00C8E4; /* ======== THEME COLOR ========*/
	color: #fff;
}
a,
a:hover,
a:focus,
.pace .pace-progress,
ul li i,
.feature h2,
.feature-block-icon i,
.feature-block h3,
.owl-theme .owl-controls .owl-buttons div:hover,
.link-to-top:hover i {
	color: #00C8E4; /* ======== THEME COLOR ========*/
}
.preload,
.btn-default,
.underline,
.underline-center,
.feature:hover .feature-icon i,
.feature-block:hover .feature-block-icon i,
.owl-theme .owl-controls .active span,
.social-icon-container li a:hover,
.dark-version .social-icon-container li a:hover {
	background: #00C8E4; /* ======== THEME COLOR ========*/
}
.btn-default,
.feature:hover .feature-icon i,
.feature-block:hover .feature-block-icon i,
.social-icon-container li a:hover i,
.dark-version .social-icon-container li a:hover i {
	color: #fff;
}
.feature:hover .feature-icon i, .feature-block-icon i,
.owl-theme .owl-controls .owl-buttons div:hover,
.dark-version .owl-theme .owl-controls .owl-buttons div:hover,
.link-to-top:hover i {
	border-color: #00C8E4;  /* ======== THEME COLOR ========*/
}
.form-control:focus {
	border: 1px solid #00C8E4;
}